@import "./utility.css";
@import "./reset.css";

.notes-container {
	margin: 4rem auto;
}

.notes {
	display: flex;
	flex-direction: column;
	align-items: center;
}

.note-form {
	padding: 1rem;
	width: 100%;
	max-width: 50rem;
	display: flex;
	flex-direction: column;
	align-items: center;
	border: 1px solid var(--primary-light-color);
}

.note-title-input,
.note-task-input {
	width: 100%;
	margin-bottom: 2rem;
}

.note-title-input {
	font-weight: 600;
	font-size: 1.6rem;
}

.note-task-input {
	height: 8rem;
}

.card-list-container {
	display: flex;
	flex-wrap: wrap;
	align-items: flex-start;
	justify-content: center;
	margin: 1rem;
}

.card {
	padding: 1rem;
	margin: 8px;
	border-radius: 4px;
	border: 1px solid #71717a;
	max-width: 20rem;
}

.color-list {
	display: flex;
	align-items: center;
	justify-content: center;
	margin: 1rem;
}

.color-picker {
	margin: 2px;
	width: 3.5rem;
	height: 3.5rem;
	border-radius: 50%;
}

.color-picker:hover {
	opacity: 0.7;
	border: 1px solid #3f3f46;
}
