.sidebar {
	grid-area: sidebar;
}

.sidebar-item {
	padding: 1rem 3rem;
	font-weight: 600;
}

.sidebar-item:hover {
	cursor: pointer;
	background-color: var(--gray);
	border-radius: 0 2.5rem 2.5rem 0;
	-webkit-border-radius: 0 2.5rem 2.5rem 0;
	-moz-border-radius: 0 2.5rem 2.5rem 0;
	-ms-border-radius: 0 2.5rem 2.5rem 0;
	-o-border-radius: 0 2.5rem 2.5rem 0;
}
